@charset "UTF-8";


body{
    font-family: Raleway;
    font-weight: 300;
    font-size: 16px;   
}

.error{
    color: #FF0000;
}
.success{
    color: #0000FF;
}

tbody {
    background: white;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.menu {

    text-align: center;
    background: linear-gradient(45deg, #45145A,#FF5300);
    border: none;
    height: 50px;   
}
.menu_item {
	
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

.test {
    width:300px;
    margin-left:50px;
    margin-right:50px;
}
.nav_bar {
    width: 100%;
    border: none;
    text-align: center;
}

#emailHelp{
    font-size: 10px;
    margin-left: 10px;
}

.reg_title{
    text-align: center;
    margin-top: 15px;  
    color:black;
}


.button_2{
    width: 150px;
    margin-left: 200px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.label_1{
    color:black;
    margin-left: 50px;
}


.table_header{
    padding-top: 15px;
}

.bcground{
    background-position: top;
      background-color:#1F2739;
}

.tbl{
    margin-top: 25px;
    position:relative;
    left:650px;
    top:30px;
    color:violet;
}